In [17]:
import numpy as np 
import pandas as pd

import itertools

In [3]:
male_first_names = pd.read_csv("data/dist.male.first.txt")

female_first_names = pd.read_csv("data/dist.female.first.txt")

surnames = pd.read_csv("data/dist.all.last.txt")

In [4]:
with open("data/dist.male.first.txt") as f:
    male_firsts = f.readlines()

In [14]:
female_first_names = pd.DataFrame([x.split() for x in male_firsts], columns = ["name", "freq", "cum_freq", "rank"])

In [6]:
with open("data/dist.female.first.txt") as f:
    female_firsts = f.readlines()

In [15]:
male_first_names=pd.DataFrame([x.split() for x in female_firsts], columns = ["name", "freq", "cum_freq", "rank"])

In [8]:
with open("data/dist.all.last.txt") as f:
    surnames = f.readlines()

In [10]:
pd.DataFrame([x.split() for x in surnames],
             columns = ["name", "freq", "cum_freq", "rank"]
            )

            name   freq cum_freq   rank
0          SMITH  1.006    1.006      1
1        JOHNSON  0.810    1.816      2
2       WILLIAMS  0.699    2.515      3
3          JONES  0.621    3.136      4
4          BROWN  0.621    3.757      5
...          ...    ...      ...    ...
88794    AARDEMA  0.000   90.483  88795
88795     AARANT  0.000   90.483  88796
88796   AANDERUD  0.000   90.483  88797
88797     AALUND  0.000   90.483  88798
88798  AALDERINK  0.000   90.483  88799

[88799 rows x 4 columns]

In [11]:
def read_file(file):
    with open(f"data/{file}") as f:
        data = f.readlines()
    return pd.DataFrame([x.split() for x in data],
             columns = ["name", "freq", "cum_freq", "rank"]
            )

In [18]:
surnames=read_file("dist.all.last.txt")

In [19]:
firsts = pd.concat([female_first_names, male_first_names]).name.values.tolist()
lasts = surnames.name.values.tolist()

In [23]:
[" ".join(x) for i, x in enumerate(itertools.product(firsts, lasts)) if i<5]

[('JAMES', 'SMITH'),
 ('JAMES', 'JOHNSON'),
 ('JAMES', 'WILLIAMS'),
 ('JAMES', 'JONES'),
 ('JAMES', 'BROWN')]

In [24]:
import re

In [25]:
mail = "ameckjune@gmail.com"

In [26]:
re.fullmatch(r'([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[aol|gmail|outlook|yahoo|icloud|yandex]+(\.[A-Z|a-z]{2,})+',
            mail)

In [27]:
re.fullmatch(r'\d\d\d-\d\d\d-\d\d\d\d',
            "123-123-3455")

In [28]:
pers={'first_name': 'Pasquale', 'last_name': 'Stommes', 'email': 'pasquale.stommes@outlook.com', 'sex': 'male', 'age': 3, 'job': 'NA', 'phone': '343-58-515'}

In [29]:
len(pers)

7

In [31]:
list(pers.keys())==['first_name', 'last_name', 'email', 'sex', 'age', 'job', 'phone']

True

In [32]:
import os

In [36]:
os.path.dirname(os.path.abspath("random_person_generator.py"))

'C:\\Users\\archi\\Documents\\Random Person Generator'